// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table_detail td {
  padding-left: 2px;
  vertical-align: middle;
}
#progarms_list {
  overflow-y: scroll;
}

#progarms_list a:hover  {
  background-color: darkgrey;
}
#progarms_list td {
  padding-top: 4px;
  padding-left: 5px;
  padding-bottom: 0px;
}
#progarms_list a {
  padding: 5px;

}
#progarms_list a:visited, a:focus {
  color:white;
}
#progarms_list h3{
  margin-top:0px;
}

@media screen and (max-width: 990px) {
  #progarms_list {
    height: 200px;
    margin-top:10px;
    margin-bottom:10px;
}

}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  #progarms_list {
    margin-top:50px;
    height: 580px;
  }
}
@media screen and (min-width: 1201px)  {
  #progarms_list {
    margin-top:50px;
    height: 705px;
  }
}
